<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Role Group</h1>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a (click)="navigateToSytemUserCreation()">Role Group</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
</nav>

<div  *ngIf="false" class="col-xs-12">
    <form   (ngSubmit)="onSubmit()">
        
        <div class="form-group row mt-2">
            <label for="code" class="col-sm-3 col-form-label text-right">Role Code</label>
            <div class="col-sm-5">
            <input type="text" value="{{code}}" class="form-control" id="template" disabled>
            </div>
            </div>
            <div class="form-group row mt-2">
                <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
                <div class="col-sm-5">
                    <input type="text" value="{{name}}" class="form-control" id="name" disabled>
                </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="roleGrpParentCode" class="col-sm-3 col-form-label text-right">Role Group Parent Code</label>
                    <div class="col-sm-5">
                        <input type="text" value="{{roleGrpParentCode}}" class="form-control" id="roleGrpParentCode" disabled>
                    </div>
                    </div>

                   <div class="form-group row mt-2">
                        <label for="permissionCode" class="col-sm-3 col-form-label text-right">Permission Code</label>
                        <div class="col-sm-5">
                            <input type="text" value="{{permissionCode}}" class="form-control" id="permissionCode" disabled>
                        </div>
                   </div>

                   <!-- <div class="form-group row mt-5">
                    <label for="createdOn" class="col-sm-3 col-form-label text-right">Created On</label>
                    <div class="col-sm-5">
                        <input type="text" value="{{createdOn}}" class="form-control" id="createdOn" disabled>
                    </div>
                  </div>
                  <div class="form-group row mt-5">
                    <label for="createdBy" class="col-sm-3 col-form-label text-right">Created By</label>
                    <div class="col-sm-5">
                        <input type="text" value="{{createdBy}}" class="form-control" id="createdBy" disabled>
                    </div>
                  </div> -->
                  <div class="form-group row mt-2">
                    <label for="status" class="col-sm-3 col-form-label text-right">Status</label>
                    <div class="col-sm-5">
                        <input type="text" value="{{status}}" class="form-control" id="status" disabled>
                    </div>
                  </div>

          
                
        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Back</button>
             </div>
            </div>

    </form>
</div>
 


<div *ngIf= "true" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Add System User</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">
                          
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            
                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form  >
                            
                                    <div class="form-group row mt-2">
                                        <label for="code" class="col-sm-3 col-form-label text-right">Role Code</label>
                                        <div class="col-sm-5">
                                        <input type="text" value="{{code}}" class="form-control" id="template" disabled>
                                        </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
                                            <div class="col-sm-5">
                                                <input type="text" value="{{name}}" class="form-control" id="name" disabled>
                                            </div>
                                            </div>
                                            <div class="form-group row mt-2">
                                                <label for="roleGrpParentCode" class="col-sm-3 col-form-label text-right">Role Group Parent Code</label>
                                                <div class="col-sm-5">
                                                    <input type="text" value="{{roleGrpParentCode}}" class="form-control" id="roleGrpParentCode" disabled>
                                                </div>
                                                </div>
                            
                                               <div class="form-group row mt-2">
                                                    <label for="permissionCode" class="col-sm-3 col-form-label text-right">Permission Code</label>
                                                    <div class="col-sm-5">
                                                        <input type="text" value="{{permissionCode}}" class="form-control" id="permissionCode" disabled>
                                                    </div>
                                               </div>
                            
                                               <!-- <div class="form-group row mt-5">
                                                <label for="createdOn" class="col-sm-3 col-form-label text-right">Created On</label>
                                                <div class="col-sm-5">
                                                    <input type="text" value="{{createdOn}}" class="form-control" id="createdOn" disabled>
                                                </div>
                                              </div>
                                              <div class="form-group row mt-5">
                                                <label for="createdBy" class="col-sm-3 col-form-label text-right">Created By</label>
                                                <div class="col-sm-5">
                                                    <input type="text" value="{{createdBy}}" class="form-control" id="createdBy" disabled>
                                                </div>
                                              </div> -->
                                              <div class="form-group row mt-2">
                                                <label for="status" class="col-sm-3 col-form-label text-right">Status</label>
                                                <div class="col-sm-5">
                                                    <input type="text" value="{{status}}" class="form-control" id="status" disabled>
                                                </div>
                                              </div>
                            
                                      
                                            
                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Back</button>
                                         </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>