<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User</h1>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a class="collapse-item" (click)="navigateToSytemUserCreation()">User</a></li>
        <li *ngIf="!editMode" class="breadcrumb-item active" aria-current="page">Add</li>
        <li *ngIf="editMode"class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<div *ngIf="!editMode" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Add System User</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">

                        </ul>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form [formGroup]="createUserForm">
                                    <div class="form-group row mt-2">
                                        <label for="code" class="col-sm-3 col-form-label text-right">Code</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="code">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="walletownergroup_code" class="col-sm-3 col-form-label text-right">Wallet Owner Group Code
                                            </label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="walletownergroup_code">
                                                <option value="select" selected>Select</option>
                                                <option value="WC001">WC001</option>
                                                <option value="WC002">WC002</option>
                                                <option value="RP0003">WC003</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="rolegroup_code" class="col-sm-3 col-form-label text-right">Role Group Code
                                            </label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="rolegroup_code">
                                                <option value="select" selected>Select</option>
                                                <option value="RC001">RC001</option>
                                                <option value="RC002">RC002</option>
                                                <option value="RC003">RC003</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="user_name" class="col-sm-3 col-form-label text-right">User Name</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="user_name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="alias_name" class="col-sm-3 col-form-label text-right">Alias Name</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="alias_name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="national_id" class="col-sm-3 col-form-label text-right">National Id</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="national_id">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="mobile_number" class="col-sm-3 col-form-label text-right">Mobile Number</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="mobile_number">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="hr_id" class="col-sm-3 col-form-label text-right">Hr Id</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="hr_id">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="bob_title" class="col-sm-3 col-form-label text-right">Bob Title</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="bob_title">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="department_name" class="col-sm-3 col-form-label text-right">Department Name</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="department_name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="state" class="col-sm-3 col-form-label text-right">State</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="state">
                                        </div>
                                    </div>
                                  
                                    
                                    <div class="form-group row mt-2">
                                        <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="status">
                                                <option value="select" selected>Select</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i
                                                    class="fas fa-times-circle"></i> Canecl</button>
                                            <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i
                                                    class="fas fa-plus-circle"></i> Submit</button>
                                        </div>
                                    </div>

                                </form>


                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="editMode" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Add System User</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">

                        </ul>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form [formGroup]="createUserForm">
                                    <div class="form-group row mt-2">
                                        <label for="code" class="col-sm-3 col-form-label text-right">Code</label>
                                        <div class="col-sm-5">
                                            <input value= "{{code}}" type="text" class="form-control" id="code">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="walletownergroup_code" class="col-sm-3 col-form-label text-right">Wallet Owner Group Code
                                            </label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="walletownergroup_code">
                                                <option value="{{walletownergroup_code}}" selected>{{walletownergroup_code}}</option>
                                                <option value="WC001">WC001</option>
                                                <option value="WC002">WC002</option>
                                                <option value="RP0003">WC003</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="rolegroup_code" class="col-sm-3 col-form-label text-right">Role Group Code
                                            </label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="rolegroup_code">
                                                <option value="{{rolegroup_code}}" selected>{{rolegroup_code}}</option>
                                                <option value="RC001">RC001</option>
                                                <option value="RC002">RC002</option>
                                                <option value="RC003">RC003</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="user_name" class="col-sm-3 col-form-label text-right">User Name</label>
                                        <div class="col-sm-5">
                                            <input value="{{user_name}}" type="text" class="form-control" id="user_name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="alias_name" class="col-sm-3 col-form-label text-right">Alias Name</label>
                                        <div class="col-sm-5">
                                            <input value="{{alias_name}}" type="text" class="form-control" id="alias_name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="national_id" class="col-sm-3 col-form-label text-right">National Id</label>
                                        <div class="col-sm-5">
                                            <input value="{{national_id}}"  type="text" class="form-control" id="national_id">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="mobile_number" class="col-sm-3 col-form-label text-right">Mobile Number</label>
                                        <div class="col-sm-5">
                                            <input  value="{{mobile_number}}" type="text" class="form-control" id="mobile_number">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="hr_id" class="col-sm-3 col-form-label text-right">Hr Id</label>
                                        <div class="col-sm-5">
                                            <input value="{{hr_id}}" type="text" class="form-control" id="hr_id">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="bob_title" class="col-sm-3 col-form-label text-right">Bob Title</label>
                                        <div class="col-sm-5">
                                            <input value="{{bob_title}}" type="text" class="form-control" id="bob_title">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="department_name" class="col-sm-3 col-form-label text-right">Department Name</label>
                                        <div class="col-sm-5">
                                            <input value="{{department_name}}" type="text" class="form-control" id="department_name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="state" class="col-sm-3 col-form-label text-right">State</label>
                                        <div class="col-sm-5">
                                            <input value="{{state}}" type="text" class="form-control" id="state">
                                        </div>
                                    </div>
                                  
                                    
                                    <div class="form-group row mt-2">
                                        <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="status">
                                                <option value="{{status}}" selected>{{status}}</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i
                                                    class="fas fa-times-circle"></i> Canecl</button>
                                            <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i
                                                    class="fas fa-plus-circle"></i> Submit</button>
                                        </div>
                                    </div>


                                </form>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>