<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Role Group</h1>
    <a [routerLink]="['add']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus-circle"></i> Add Role Group</a>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Role Group</li>
    </ol>
</nav>

<!-- Content Row -->
<div class="row">
    <!-- main area -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Role Permission</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <!-- <th>Id</th> -->
                                <th>Role Code</th> 
                                <th>Name</th>
                                <th>Role Group Parent Code</th>
                                <th>Permission Code</th>
                                <th>Created On </th>
                                <th>Created By </th>
                                <th>Staus</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let user of users; let i = index;">
                                <!-- <td>{{ user.id }}</td> -->
                                <td>{{ user.code }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.roleGrpParentCode }}</td>
                                <td>{{ user.permissionCode }}</td>
                                <td>{{ user.createdOn | date: 'short'}}</td>
                                <td>{{ user.createdBy }}</td>
                                <td>{{ user.status }}</td>
                              
                                <td>
                                    <a (click)="viewRoleGroup(user.id)"><i class="fas fa-eye text-primary"></i></a>&nbsp;
                                    <a (click)="editRoleGroup(user.id)"><i class="fas fa-edit text-secondary"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>