<form [formGroup]="basicInformationForm" (ngSubmit)="onSubmitForm()">
    <!-- category / contractType -->
    <div class="form-group row">
        <!-- category -->
        <div class="col-sm-6">
            <label for="category" class="custom-label">category
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" formControlName="category" name="category" id="category">
                <option *ngFor="let ctgry of categories" [value]="ctgry.code">
                    {{ ctgry.name }}
                </option>
            </select>
            <!-- validation category -->
            <span class="validation-message" *ngIf="basicInformationForm.get('category').touched
                && !basicInformationForm.get('category').valid">Please select category</span>
        </div>
        <!-- contractType -->
        <div class="col-sm-6">
            <label for="contractType" class="custom-label">contract type
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" formControlName="contractType" name="contractType" id="contractType">
                <option *ngFor="let contract of contractTypes" [value]="contract.code">
                    {{ contract.name }}
                </option>
            </select>
            <!-- validation contractType -->
            <span class="validation-message" *ngIf="basicInformationForm.get('contractType').touched
                && !basicInformationForm.get('contractType').valid">Please select contract type</span>
        </div>
    </div>
    <!-- ownerName / aliasName -->
    <div class="form-group row">
        <!-- ownerName -->
        <div class="col-sm-6">
            <label for="ownerName" class="custom-label">owner name
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="ownerName" name="ownerName" formControlName="ownerName"
                placeholder="owner name">
            <!-- validation ownerName -->
            <span class="validation-message" *ngIf="basicInformationForm.get('ownerName').touched
                && !basicInformationForm.get('ownerName').valid">Please provide owner name</span>
        </div>
        <!-- aliasName -->
        <div class="col-sm-6">
            <label for="aliasName" class="custom-label">alias name
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="aliasName" name="aliasName" formControlName="aliasName"
                placeholder="alias name">
            <!-- validation aliasName -->
            <span class="validation-message" *ngIf="basicInformationForm.get('aliasName').touched
            && !basicInformationForm.get('aliasName').valid">Please provide alias name</span>
        </div>
    </div>
    <!-- hrId / nationalId -->
    <div class="form-group row">
        <!-- hrId -->
        <div class="col-sm-6">
            <label for="hrId" class="custom-label">hr id
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="hrId" name="hrId" formControlName="hrId">
            <!-- validation hrId -->
            <span class="validation-message" *ngIf="basicInformationForm.get('hrId').touched
            && !basicInformationForm.get('hrId').valid">Please provide hr id</span>
        </div>
        <!-- nationalId -->
        <div class="col-sm-6">
            <label for="nationalId" class="custom-label">national id
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="nationalId" name="nationalId" formControlName="nationalId">
            <!-- validation nationalId -->
            <span class="validation-message" *ngIf="basicInformationForm.get('nationalId').touched
            && !basicInformationForm.get('nationalId').valid">Please provide national id</span>
        </div>
    </div>
    <!-- businessName / businessType -->
    <div class="form-group row">
        <!-- businessName -->
        <div class="col-sm-6">
            <label for="businessName" class="custom-label">business name
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="businessName" name="businessName"
                formControlName="businessName">
            <!-- validation businessName -->
            <span class="validation-message" *ngIf="basicInformationForm.get('businessName').touched
                && !basicInformationForm.get('businessName').valid">Please provide business name</span>
        </div>
        <!-- businessType -->
        <div class="col-sm-6">
            <label for="businessType" class="custom-label">business type
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" id="businessType" name="businessType" formControlName="businessType">
                <option *ngFor="let bsnsType of businessTypes" [value]="bsnsType.code">
                    {{ bsnsType.name }}
                </option>
            </select>
            <!-- validation businessType -->
            <span class="validation-message" *ngIf="basicInformationForm.get('businessType').touched
            && !basicInformationForm.get('businessType').valid">Please select business type</span>
        </div>
    </div>
    <!-- state / stage -->
    <div class="form-group row">
        <!-- state -->
        <div class="col-sm-6">
            <label for="state" class="custom-label">state
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" formControlName="state" name="state" id="state">
                <option *ngFor="let state of states" [value]="state.code">
                    {{ state.name }}
                </option>
            </select>
            <!-- validation state -->
            <span class="validation-message" *ngIf="basicInformationForm.get('state').touched
            && !basicInformationForm.get('state').valid">Please select state</span>
        </div>
        <!-- stage -->
        <div class="col-sm-6">
            <label for="stage" class="custom-label">stage
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="stage" name="stage" formControlName="stage">
            <!-- validation stage -->
            <span class="validation-message" *ngIf="basicInformationForm.get('stage').touched
            && !basicInformationForm.get('stage').valid">Please provide stage</span>
        </div>
    </div>
    <!-- lineOfBusiness / mobile -->
    <div class="form-group row">
        <!-- lineOfBusiness -->
        <div class="col-sm-6">
            <label for="lineOfBusiness" class="custom-label">line of business
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="lineOfBusiness" name="lineOfBusiness"
                formControlName="lineOfBusiness">
            <!-- validation lineOfBusiness -->
            <span class="validation-message" *ngIf="basicInformationForm.get('lineOfBusiness').touched
            && !basicInformationForm.get('lineOfBusiness').valid">Please provide line of business</span>
        </div>
        <!-- mobile -->
        <div class="col-sm-6">
            <label for="mobile" class="custom-label">mobile
                <span class="required-field">*</span></label>
            <input type="text" class="form-control" id="mobile" name="mobile" formControlName="mobile">
            <!-- validation mobile -->
            <span class="validation-message" *ngIf="basicInformationForm.get('mobile').touched
            && !basicInformationForm.get('mobile').valid">Please provide mobile</span>
        </div>
    </div>
    <!-- channel / wallet -->
    <div class="form-group row">
        <!-- channel -->
        <div class="col-sm-6">
            <label for="channel" class="custom-label">channel
                <span class="required-field">*</span>
            </label>
            <!-- channel hidden field -->
            <input type="hidden" name="channel" id="channel" formControlName="channel">
            <!-- channel multi select -->
            <app-multi-select [type]="'channel'" [items]="channels" (myEvent)="recieveItem($event)">
            </app-multi-select>
            <!-- validation channel -->
            <span class="validation-message" *ngIf="channelsValidations">Please select channels</span>
        </div>
        <!-- wallet -->
        <div class="col-sm-6">
            <label for="wallet" class="custom-label">wallet
                <span class="required-field">*</span>
            </label>
            <!-- wallet hidden field -->
            <input type="hidden" name="wallet" id="wallet" formControlName="wallet">
            <!-- wallet multi-select -->
            <app-multi-select [type]="'wallet'" [items]="wallets" (myEvent)="recieveItem($event)">
            </app-multi-select>
            <!-- validation wallet -->
            <span class="validation-message" *ngIf="walletsValidations">Please select wallets</span>
        </div>
    </div>
    <!-- group -->
    <div class="form-group row">
        <!-- group -->
        <div class="col-sm-6">
            <label for="group" class="custom-label">group
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" formControlName="group" name="group" id="group">
                <option *ngFor="let grp of groups" [value]="grp.code">
                    {{ grp.name }}
                </option>
            </select>
            <!-- validation group -->
            <span class="validation-message" *ngIf="basicInformationForm.get('group').touched
            && !basicInformationForm.get('group').valid">Please select group</span>
        </div>
        <!-- **** -->
        <!-- <div class="col-sm-6">
            <label class="custom-label">****</label>
            <input type="text" class="form-control" >
        </div> -->
    </div>
    <!-- Next Button -->
    <div class="form-group row">
        <div class="full-width steps-bottom-button-alligned text-right">
            <button type="submit" class="float-right btn btn-primary px-3">
                Next&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
        </div>
    </div>
</form>