<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        
          <div>
            <form [formGroup]="changePasswordFormGroup">
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <label translate>lbl_userLoginId</label>
                      </div>
                      <div class="col-md-6">
                        {{loginuserId}}
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label  translate>lbl_resetpassword_currentpassword<span style="color : red;">*</span></label>
                  </div>
                  <div class="col-md-4">
                    <input type="password" 
                   class="form-control" id="old_password" formControlName="password"
                      maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >              
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required" translate>ERROR_OLD_PASSWORD</div>
                      <div *ngIf="f.password.errors.pattern" translate>ERROR_CORRECT_PASSWORD</div>
                     </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>       
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="newPassword" translate>lbl_resetpassword_newpassword<span style="color : red;">*</span></label>
                  </div>
                  <div class="col-md-4">
                    <input type="password"  
                    class="form-control" id="new_password" 
                    formControlName="newPassword" 
                     maxlength="25"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" > 
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.newPassword.errors.required" translate>ERROR_NEW_PASSWORD</div>
                      <div *ngIf="f.newPassword.errors.pattern" translate>ERROR_VALID_PASSWORD</div>
                       
                     </div>
                  </div>
                <div class="col-md-4"></div>  
                </div>
              </div>   
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label translate>lbl_resetpassword_confirmnewpassword<span style="color : red;">*</span></label>
                  </div>
                  <div class="col-md-4">
                          <input type="password" 
                          class="form-control" id="confirm_password" 
                          formControlName="confirmPassword" 
                           maxlength="25"
                          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" > 
                          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required" translate>ERROR_CONFIRM_PASSWORD</div>
                            <div *ngIf="f.confirmPassword.errors.pattern" translate>ERROR_CORRECT_PASSWORD</div>
                           </div>
                        <div *ngIf="changePasswordFormGroup.errors?.doesMatchPassword" class="invalid-feedback"
                          translate>ERROR_MATCH_PASSWORD</div>   
 
                        </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
              <div class="form-group m-t-50">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-3">
                        <button id="submitForm" type="submit" class="btn btn-primary" (click)="onSubmit()"
                          translate>btn_submit</button>
                      </div>
                      <div class="col-md-2">
                        <button id="backToDashBoard" type="submit" class="btn btn-primary" (click)="backToDashBoard()"
                          translate>btn_cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>     
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
