<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Role Permission</h1>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a (click)="navigateToSytemUserCreation()">Role Permission</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
</nav>

<div  *ngIf="false"  class="col-xs-12">
    <form   (ngSubmit)="onSubmit()">
        
        <div class="form-group row mt-2">
            <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
            <div class="col-sm-5">
            <input type="text" value="{{template}}" class="form-control" id="template" disabled>
            </div>
            </div>
            <div class="form-group row mt-2">
                <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                <div class="col-sm-5">
                 <select class="custom-select form-control" id="feature" disabled>
                    <option value="{{feature}}" selected>{{feature}}</option>
                    
                </select>
                </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                    <div class="col-sm-5">
                     <select class="custom-select form-control" id="status" disabled>
                        <option value="{{status}}" selected>{{status}}</option>
                        
                    </select>
                    </div>
                    </div>

                    <div class="form-group row">
                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                        <div class="col-sm-5">
                        
                        <div class="custom-control custom-switch">
                        <input *ngIf= "create" type="checkbox" class="custom-control-input" id="create" checked disabled> 
                        <input *ngIf= "!create"type="checkbox" class="custom-control-input" id="create" disabled> 
                        <label class="custom-control-label" for="create">Create</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input *ngIf= "view" type="checkbox" class="custom-control-input" id="view" checked disabled>
                        <input *ngIf= "!view" type="checkbox" class="custom-control-input" id="view" disabled >  
                        <label class="custom-control-label" for="view">View</label>
                        </div>
                        
                        <div class="custom-control custom-switch">
                        <input *ngIf= "edit" type="checkbox" class="custom-control-input" id="edit" checked disabled>
                        <input *ngIf= "!edit" type="checkbox" class="custom-control-input" id="edit" disabled>
                        <label class="custom-control-label" for="edit">Edit</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input *ngIf= "approve" type="checkbox" class="custom-control-input" id="approve" checked disabled>
                        <input *ngIf= "!approve" type="checkbox" class="custom-control-input" id="approve" disabled  >
                        <label class="custom-control-label" for="approve">Approve</label>
                        </div>
                        
                        </div>
                        </div>
                
        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Back</button>
             </div>
            </div>

    </form>
</div>

<div *ngIf= "true" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Add Role Permission</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                     
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">
                          
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                          
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form  >
                                    <div class="form-group row mt-2">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
                                        <div class="col-sm-5">
                                        <input type="text" value="{{template}}" class="form-control" id="template" disabled>
                                        </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                                            <div class="col-sm-5">
                                             <select class="custom-select form-control" id="feature" disabled>
                                                <option value="{{feature}}" selected>{{feature}}</option>
                                                
                                            </select>
                                            </div>
                                            </div>
                                            <div class="form-group row mt-2">
                                                <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                                <div class="col-sm-5">
                                                 <select class="custom-select form-control" id="status" disabled>
                                                    <option value="{{status}}" selected>{{status}}</option>
                                                    
                                                </select>
                                                </div>
                                                </div>
                            
                                                <div class="form-group row">
                                                    <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                                    <div class="col-sm-5">
                                                    
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "create" type="checkbox" class="custom-control-input" id="create" checked disabled> 
                                                    <input *ngIf= "!create"type="checkbox" class="custom-control-input" id="create" disabled> 
                                                    <label class="custom-control-label" for="create">Create</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "view" type="checkbox" class="custom-control-input" id="view" checked disabled>
                                                    <input *ngIf= "!view" type="checkbox" class="custom-control-input" id="view" disabled >  
                                                    <label class="custom-control-label" for="view">View</label>
                                                    </div>
                                                    
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "edit" type="checkbox" class="custom-control-input" id="edit" checked disabled>
                                                    <input *ngIf= "!edit" type="checkbox" class="custom-control-input" id="edit" disabled>
                                                    <label class="custom-control-label" for="edit">Edit</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "approve" type="checkbox" class="custom-control-input" id="approve" checked disabled>
                                                    <input *ngIf= "!approve" type="checkbox" class="custom-control-input" id="approve" disabled  >
                                                    <label class="custom-control-label" for="approve">Approve</label>
                                                    </div>
                                                    
                                                    </div>
                                                    </div>
                                            
                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Back</button>
                                         </div>
                                        </div>
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 
