@import '../wallet-owner.component.css';

.custom-label{
    margin-bottom: auto;
    font-style: italic;
}
.full-width{
    width: 100%;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.steps-bottom-button-alligned{
    padding-left: 1rem;
    padding-right: 1rem;
}
.color-white a {
    color: white;
}
.validation-message {
    color: #e74a3b;
    font-size: smaller;
    border: solid 1px #e74a3b;
    border-radius: 3px;
    padding: 2px;
    background-color: bisque;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    font-style: italic;
}