<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Wallet Owner</h1>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a (click)="navigateToWalletOwners()">Wallet Owner</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<!-- <div *ngIf="false" class="col-xs-12">
    <form [formGroup]="walletOwnerForm" (ngSubmit)="onSubmit()">
        <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="id">ID</label>
            </div>
            <div class="col-sm-8">
                <input id="id" formControlName="id" type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="name">Name</label>
            </div>
            <div class="col-sm-8">
                <input id="name" formControlName="name" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="status">Status</label>
            </div>
            <div class="col-sm-8">
                <input id="status" formControlName="status" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="mobile">Mobile Number</label>
            </div>
            <div class="col-sm-8">
                <input id="mobile" formControlName="mobile" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="userType">User Type</label>
            </div>
            <div class="col-sm-8">
                <input id="userType" formControlName="userType" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="type">Type</label>
            </div>
            <div class="col-sm-8">
                <input id="type" formControlName="type" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="feild1">feild1</label>
            </div>
            <div class="col-sm-8">
                <input id="feild1" formControlName="feild1" type="text" class="form-control">
            </div>
        </div>

        <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="creationDate">Created On</label>
            </div>
            <div class="col-sm-8">
                <input id="creationDate" formControlName="creationDate" type="datetime" class="form-control" disabled>
            </div>
        </div>

        <div *ngIf="!editMode" class="row">
            <div class="col-sm-4">
                <button class="btn btn-primary">Add</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
            </div>
            <div class="col-sm-4">
                <button class="btn" type="button" (click)="onCancel()">Cancel</button>
            </div>
        </div>

    </form>
</div> -->

<!-- Demo -->
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Add Wallet Owner Details</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">
                            <!-- step-1 -->
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-outline-primary active mr-3" id="step-1-tab" data-toggle="pill"
                                    href="#step-1" role="tab" aria-controls="step-1" aria-selected="true">
                                    <i class="fas fa-user"></i> Basic Information</a>
                            </li>
                            <!-- step-2 -->
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-outline-primary mr-3" id="step-2-tab" data-toggle="pill"
                                    href="#step-2" role="tab" aria-controls="step-2" aria-selected="false">
                                    <i class="fas fa-user"></i> Address</a>
                            </li>
                            <!-- step-3 -->
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-outline-primary" id="step-3-tab" data-toggle="pill" href="#step-3"
                                    role="tab" aria-controls="step-3" aria-selected="false"><i class="fas fa-user"></i>
                                    Documents</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <app-basic-info></app-basic-info>
                            </div>

                            <!-- STEP-2 Content : Address-->
                            <div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">

                                <form [formGroup]="allAddress" (ngSubmit)="navgateToStep3()">
                                    <!-- Addresses -->
                                    <div formArrayName="adresses">
                                        <div *ngFor="let addressControl of getAddressesControl; let i = index"
                                            [formGroupName]="i">
                                            <!-- Address Form -->
                                            <app-address [formIndex]="i"></app-address>
                                        </div>
                                    </div>
                                    <!-- Add Address -->
                                    <div class="form-group row text-right">
                                        <div class="text-right full-width steps-bottom-button-alligned color-white">
                                            <a (click)="addressService.onAddAddressForm()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                <i class="fas fa-plus-circle"></i> Add Address</a>
                                        </div>
                                    </div>
                                    <!-- Next Previous -->
                                    <div class="form-group row text-right">
                                        <div class="text-right full-width steps-bottom-button-alligned">
                                            <button type="button" class="float-left btn btn-primary px-3"
                                                (click)="navgateToStep1()">
                                                <i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Previous</button>
                                            <!-- this coulld be the submit -->
                                            <button type="submit" class="float-right btn btn-primary px-3">
                                                Next&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <!-- STEP-3 Content: Documents -->
                            <div class="tab-pane fade" id="step-3" role="tabpanel" aria-labelledby="step-3-tab">
                                content goes here....

                                <div class="form-group row">
                                    <div class="full-width steps-bottom-button-alligned text-right">
                                        <button type="button" class="float-left btn btn-primary px-3"
                                            (click)="navgateToStep2()">
                                            <i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Previous</button>
                                        <button type="button" class="float-right btn btn-primary px-3"
                                            (click)="finalSubmit()">
                                            Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>