<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Wallet Owner</h1>
    <a [routerLink]="['add']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus-circle"></i> Add wallet Owner</a>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wallet Owner</li>
    </ol>
</nav>

<!-- Content Row -->
<div class="row">
    <!-- main area -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Wallet Owner</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Creation Date & Time</th>
                                <th>User Mobile No</th>
                                <th>User Type</th>
                                <th>Feild 1</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let walletOwner of walletOwners; let i = index;">
                                <td>{{ walletOwner.id }}</td>
                                <td>{{ walletOwner.name }}</td>
                                <td>{{ walletOwner.type }}</td>
                                <td>{{ walletOwner.status }}</td>
                                <td>{{ walletOwner.createdOn | date: 'short'}}</td>
                                <td>{{ walletOwner.userMobile }}</td>
                                <td>{{ walletOwner.userType }}</td>
                                <td>{{ walletOwner.feild1 }}</td>
                                <td>
                                    <a class="custom-hyperlink" (click)="viewWalletOwner(walletOwner.id)"><i class="fas fa-eye text-primary"></i></a>&nbsp;
                                    <a class="custom-hyperlink" (click)="editWalletOwner(walletOwner.id)"><i class="fas fa-edit text-secondary"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>