<!-- 
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="user-profile" [class.active]="showMenu === 'user'">
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" (click)="addExpandClass('user')" aria-expanded="false">
            <img src="assets/images/user1.png" alt="user" />
      
     
            <span class="hide-menu" >{{userName}}</span></a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'user'">

            <li><a href="javascript:void()" (click) = "onChangePassword()" translate>btn_changepassword</a></li>
            <li><a href="javascript:void()" id="logOut" (click) = "logOut()" translate>btn_logout</a></li>
          </ul>
        </li>

        <li class="nav-devider"></li>

 
        <li *ngFor = "let menu of menusList.levelList ;let i = index" class="user-profile" [class.active]='showMenu === menu.parentLevel'>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" (click)="addExpandClass(menu.parentLevel)" aria-expanded="false">
           <i class="fa fa-cog" aria-hidden="true"></i>
         
            <span translate style = "margin-left : 10px;" class="hide-menu">{{menu.parentLevel}}</span>
          </a>
  
          <ul *ngFor = "let level of menu.level ;let i = index" class="collapse"  [class.in]='showMenu === menu.parentLevel' [class.active]='showSubMenu === level.level'>           
            <a *ngIf="level.level" class="has-arrow waves-effect waves-dark" href="javascript:void(0)" (click)="addActiveClass(level.level)" aria-expanded="false">

              <i class="fa fa-cog" aria-hidden="true"></i>
           
              <span translate style = "margin-left : 10px;" class="hide-menu">{{level.level}}</span>
            </a>
            <ul *ngIf="level.level" aria-expanded="false" class="collapse" [class.in]="showSubMenu === level.level">
               
              <li *ngFor = "let sublevel of level.subLevel"><a href="javascript:void()" (click) = "navigateToPage(sublevel)">{{sublevel.roleName}}</a></li>

            </ul>            
            <ul *ngIf="!level.level" aia-expanded="false" class="collapse" [class.in]='showMenu === menu.parentLevel'>
         
              <li *ngFor = "let sublevel of level.subLevel"><a href="javascript:void()" (click) = "navigateToPage(sublevel)">{{sublevel.roleName}}</a></li>
            </ul>
          </ul>
        </li>
        
    </ul>
</nav> -->

 <!-- Sidebar -->

 <ul id="sidebarnav"  class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="margin-right:0;background-color: #00abc2;">

 

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Master Configuration
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Trust Account Profile</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Sub Menu Header</h6>
        <a class="collapse-item" href="#">Sub Menu</a>
        <a class="collapse-item" href="#">Sub Menu</a>
  
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-cog"></i>
      <span>Package Commission</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Sub Menu Header</h6>
        <a class="collapse-item" href="#">Sub Menu</a>
        <a class="collapse-item" href="#">Sub Menu</a>
        <a class="collapse-item" href="#">Sub Menu</a>
        <a class="collapse-item" href="#">Sub Menu</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Wallet Management
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-cog"></i>
      <span>Wallet Topup</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Sumenu Header</h6>
        <a class="collapse-item" href="#">Submenu Item</a>
        <a class="collapse-item" href="#">Submenu Item</a>
        <a class="collapse-item" href="#">Submenu Item</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Sumenu Header</h6>
        <a class="collapse-item" href="#">Submenu Item</a>
        <a class="collapse-item" href="#">Submenu Item</a>
      </div>
    </div>
  </li>

  <!-- Nav Item single -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-cog"></i>
      <span>User Management</span></a>
  </li>

  <!-- Nav Item single-->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-cog"></i>
      <span>Approval</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> -->

</ul>
<!-- End of Sidebar -->
