<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Role Permission</h1>
</div> 

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a class ="collapse-item" (click)="navigateToSytemUserCreation()">Role Permission</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<div *ngIf="!editMode"  class="col-xs-12">
    <form [formGroup]="createRolePermissionForm" (ngSubmit)="onSubmit()">
        <!-- <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="id">Id</label>
            </div>
            <div class="col-sm-8">
                <input id="id" formControlName="id" type="text" class="form-control" disabled>
            </div>
        </div> -->
        <div class="form-group row mt-2">
            <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
            <div class="col-sm-5">
            <input type="text" class="form-control" id="template" >
            </div>
            </div>
            <div class="form-group row mt-2">
                <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                <div class="col-sm-5">
                 <select class="custom-select form-control" id="feature">
                    <option value="select" selected>Select</option>
                    <option value="Active">Wallet Owner</option>
                    <option value="Inactive">Address</option>
                    <option value="Inactive">Top up</option>
                </select>
                </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                    <div class="col-sm-5">
                     <select class="custom-select form-control" id="status">
                        <option value="select" selected>Select</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    </div>
                    </div>

                    <div class="form-group row">
                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                        <div class="col-sm-5">
                        
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="create">
                        <label class="custom-control-label" for="create">Create</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="view"> 
                        <label class="custom-control-label" for="view">View</label>
                        </div>
                        
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="edit">
                        <label class="custom-control-label" for="edit">Edit</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="approve">
                        <label class="custom-control-label" for="approve">Approve</label>
                        </div>
                        
                        </div>
                        </div>
                
        <!-- <div class="row">
            <div class="col-sm-4">
                <label for="name">Name</label>
            </div>
            <div class="col-sm-8">
                <input id="name" formControlName="name" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="status">Status</label>
            </div>
            <div class="col-sm-8">
                <input id="status" formControlName="status" type="text" class="form-control">
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <label for="feild1">Field1</label>
            </div>
            <div class="col-sm-8">
                <input id="feild1" formControlName="feild1" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="feild2">Feild2</label>
            </div>
            <div class="col-sm-8">
                <input id="feild1" formControlName="feild2" type="text" class="form-control">
            </div>
        </div>

        <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="creationDate">Created On</label>
            </div>
            <div class="col-sm-8">
                <input id="creationDate" formControlName="createdOn" type="datetime" class="form-control" disabled>
            </div>
        </div> -->

         <!-- <div *ngIf="!editMode" class="row">
            <div class="col-sm-4">
                <button class="btn btn-primary">Add</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-primary" type="button" (click)="onCancel()">Cancel</button>
            </div>
        </div>  -->
        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Canecl</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i class="fas fa-plus-circle"></i> Submit</button>
            </div>
            </div>

    </form>
</div>
 

<div *ngIf="editMode"  class="col-xs-12">
    <form [formGroup]="createRolePermissionForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group row mt-2">
            <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
            <div class="col-sm-5">
            <input type="text" value="{{template}}" class="form-control" id="template" >
            </div>
            </div>
            <div class="form-group row mt-2">
                <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                <div class="col-sm-5">
                 <select class="custom-select form-control" id="feature">
                    <option value="{{feature}}" selected>{{feature}}</option>
                    <option value="Active">Wallet Owner</option>
                    <option value="Inactive">Address</option>
                    <option value="Inactive">Top up</option>
                </select>
                </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                    <div class="col-sm-5">
                     <select class="custom-select form-control" id="status">
                        <option value="{{status}}" selected>{{status}}</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    </div>
                    </div>

                    <div class="form-group row">
                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                        <div class="col-sm-5">
                        
                        <div class="custom-control custom-switch">
                        <input *ngIf= "create" type="checkbox" class="custom-control-input" id="create" checked> 
                        <input *ngIf= "!create"type="checkbox" class="custom-control-input" id="create"> 
                        <label class="custom-control-label" for="create">Create</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input *ngIf= "view" type="checkbox" class="custom-control-input" id="view" checked>
                        <input *ngIf= "!view" type="checkbox" class="custom-control-input" id="view"  >  
                        <label class="custom-control-label" for="view">View</label>
                        </div>
                        
                        <div class="custom-control custom-switch">
                        <input *ngIf= "edit" type="checkbox" class="custom-control-input" id="edit" checked>
                        <input *ngIf= "!edit" type="checkbox" class="custom-control-input" id="edit">
                        <label class="custom-control-label" for="edit">Edit</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input *ngIf= "approve" type="checkbox" class="custom-control-input" id="approve" checked>
                        <input *ngIf= "!approve" type="checkbox" class="custom-control-input" id="approve"  >
                        <label class="custom-control-label" for="approve">Approve</label>
                        </div>
                        
                        </div>
                        </div>
                
        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Canecl</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i class="fas fa-plus-circle"></i> Submit</button>
            </div>
            </div>

    </form>
</div>

<div *ngIf= "false" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Add System User</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">
                            <!-- step-1 -->
                            <!-- <li class="nav-item" role="presentation">
                                <a class="btn btn-outline-primary active mr-3" id="step-1-tab" data-toggle="pill"
                                    href="#step-1" role="tab" aria-controls="step-1" aria-selected="true">
                                    <i class="fas fa-user"></i> Basic Information</a>
                            </li> -->
                         
                            <!-- <li class="nav-item" role="presentation">
                                <a class="btn btn-outline-primary mr-3" id="step-2-tab" data-toggle="pill"
                                    href="#step-2" role="tab" aria-controls="step-2" aria-selected="false">
                                    <i class="fas fa-user-plus"></i> Address</a>
                            </li>
                            
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-outline-primary" id="step-3-tab" data-toggle="pill" href="#step-3"
                                    role="tab" aria-controls="step-3" aria-selected="false"><i
                                        class="fas fa-user-plus"></i> Step 3</a>
                            </li> -->
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            
                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form [formGroup]="createRolePermissionForm" >
                            
                                    <div class="form-group row">
                                       
                                        <div class="col-sm-5">
                                            <label for="id" class="custom-label">Id</label>
                                            <input value = "{{id}}"type="text" class="form-control" id="id" formControlName="id" >
                                        </div>
                                       
                                        <div class="col-sm-5">
                                            <label for="name" class="custom-label">Template Code</label>
                                            <input value = "{{template}}" type="text" class="form-control" id="name"
                                                 >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                       
                                        <div class="col-sm-5">
                                            <label for="field1" class="custom-label">Feature</label>
                                            <input value = "{{feature}}"  type="text" class="form-control" id="field1">
                                        </div>
                                        <div *ngIf="editMode"  class="col-sm-5">
                                            <label for="status" class="custom-label">Status</label>
                                            <select class="custom-select" id="status">
                                                <option value = "{{status}}" selected> {{status}}</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                        <div *ngIf="!editMode"  class="col-sm-5">
                                            <label for="status" class="custom-label">Status</label>
                                            <select class="custom-select" id="status">
                                                <option value="select" selected>Select</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                        
                                       
                                    </div>

                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-5">
                                        
                                        <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="create">
                                        <label class="custom-control-label" for="create">Create</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="view" checked> 
                                        <label class="custom-control-label" for="view">View</label>
                                        </div>
                                        
                                        <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="edit">
                                        <label class="custom-control-label" for="edit">Edit</label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="approve">
                                        <label class="custom-control-label" for="approve">Approve</label>
                                        </div>
                                        
                                        </div>
                                        </div>
                                    <!-- <div  class="form-group row">
                                        
                                      
                                        <div class="col-md-2">
                                            <label for="create" class="custom-label">Create</label>
                                            <input  formControlName = "create" type="checkbox" class="form-control" id="create">
                                     
                                        </div>
                                        <div class="col-md-2">
                                            <label for="view" class="custom-label">View</label>
                                            <input value = "{{view}}" type="checkbox" class="form-control" id="view">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="edit" class="custom-label">Edit</label>
                                            <input value = "{{edit}}" type="checkbox" class="form-control" id="edit">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="approve" class="custom-label">Approve</label>
                                            <input value = "{{approve}}" type="checkbox" class="form-control" id="approve">
                                        </div>
                                    </div> -->
                                    <div class="form-group row">   
                                    <button type="button" class="float-right btn btn-primary px-3" (click)="onSubmit()">
                                        Submit</button>
                                    </div>
                                   
                                    <!-- <div class="form-group row">
                                        <div class="col-sm-10">
                                            <label for="channel" class="custom-label">channel</label>
                                            <fieldset>
                                                <label class="checkbox-label"><input type="checkbox" name="channel" value="v1">&nbsp;channel 1</label>
                                                <label class="checkbox-label"><input type="checkbox" name="channel" value="v2">&nbsp;channel 2</label>
                                                <label class="checkbox-label"><input type="checkbox" name="channel" value="v1">&nbsp;channel 3</label>
                                            </fieldset>
                                        </div>
                                    </div> 
                                    <div class="form-group row">
                                        <div class="full-width steps-bottom-button-alligned text-right">
                                            <button type="button" class="float-right btn btn-primary px-3"(click)="navgateToStep2()">
                                                Next&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
                                        </div>
                                    </div>  -->
                                </form>


                            </div>

                            <!-- STEP-2 Content : Address-->
                             <div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">
                                <i class="fas fa-plus-circle"></i> 
                                <!-- <app-address></app-address> -->

                                 <div class="form-group row text-right">
                                    <div class="text-right full-width steps-bottom-button-alligned">
                                        <button type="button" class="float-left btn btn-primary px-3"(click)="navgateToStep1()">
                                            <i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Previous</button>
                                        <button type="button" class="float-right btn btn-primary px-3" (click)="navgateToStep3()">
                                            Next&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
                                    </div>
                                </div>
                            </div> 

                            <!-- STEP-3 Content -->
                             <div class="tab-pane fade" id="step-3" role="tabpanel" aria-labelledby="step-3-tab">
                                contet goes here....

                                <div class="form-group row">
                                    <div class="full-width steps-bottom-button-alligned text-right">
                                        <button type="button" class="float-left btn btn-primary px-3"(click)="navgateToStep2()">
                                            <i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Previous</button>
                                        <button type="button" class="float-right btn btn-primary px-3" (click)="finalSubmit()">
                                            Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>