<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">Add Role Permission</h1>
</div> 

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a  (click)="navigateToSytemUserCreation()">Role Permission</a></li>
        <li *ngIf="!editMode" class="breadcrumb-item active" aria-current="page">Add</li>
        <li *ngIf="editMode"class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div *ngIf="false"  class="col-xs-12">
    <form [formGroup]="createRolePermissionForm" (ngSubmit)="onSubmit()">
        <!-- <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="id">Id</label>
            </div>
            <div class="col-sm-8">
                <input id="id" formControlName="id" type="text" class="form-control" disabled>
            </div>
        </div> -->
        <div class="form-group row mt-2">
            <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
            <div class="col-sm-5">
            <input type="text" class="form-control" id="template" >
            </div>
            </div>
            <div class="form-group row mt-2">
                <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                <div class="col-sm-5">
                 <select class="custom-select form-control" id="feature">
                    <option value="select" selected>Select</option>
                    <option value="Active">Wallet Owner</option>
                    <option value="Inactive">Address</option>
                    <option value="Inactive">Top up</option>
                </select>
                </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                    <div class="col-sm-5">
                     <select class="custom-select form-control" id="status">
                        <option value="select" selected>Select</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    </div>
                    </div>

                    <div class="form-group row">
                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                        <div class="col-sm-5">
                        
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="create">
                        <label class="custom-control-label" for="create">Create</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="view"> 
                        <label class="custom-control-label" for="view">View</label>
                        </div>
                        
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="edit">
                        <label class="custom-control-label" for="edit">Edit</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="approve">
                        <label class="custom-control-label" for="approve">Approve</label>
                        </div>
                        
                        </div>
                        </div>
                
        <!-- <div class="row">
            <div class="col-sm-4">
                <label for="name">Name</label>
            </div>
            <div class="col-sm-8">
                <input id="name" formControlName="name" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="status">Status</label>
            </div>
            <div class="col-sm-8">
                <input id="status" formControlName="status" type="text" class="form-control">
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <label for="feild1">Field1</label>
            </div>
            <div class="col-sm-8">
                <input id="feild1" formControlName="feild1" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="feild2">Feild2</label>
            </div>
            <div class="col-sm-8">
                <input id="feild1" formControlName="feild2" type="text" class="form-control">
            </div>
        </div>

        <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="creationDate">Created On</label>
            </div>
            <div class="col-sm-8">
                <input id="creationDate" formControlName="createdOn" type="datetime" class="form-control" disabled>
            </div>
        </div> -->

         <!-- <div *ngIf="!editMode" class="row">
            <div class="col-sm-4">
                <button class="btn btn-primary">Add</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-primary" type="button" (click)="onCancel()">Cancel</button>
            </div>
        </div>  -->
        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Canecl</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i class="fas fa-plus-circle"></i> Submit</button>
            </div>
            </div>

    </form>
</div>
 

<div *ngIf="false"  class="col-xs-12">
    <form [formGroup]="createRolePermissionForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group row mt-2">
            <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
            <div class="col-sm-5">
            <input type="text" value="{{template}}" class="form-control" id="template" >
            </div>
            </div>
            <div class="form-group row mt-2">
                <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                <div class="col-sm-5">
                 <select class="custom-select form-control" id="feature">
                    <option value="{{feature}}" selected>{{feature}}</option>
                    <option value="Active">Wallet Owner</option>
                    <option value="Inactive">Address</option>
                    <option value="Inactive">Top up</option>
                </select>
                </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                    <div class="col-sm-5">
                     <select class="custom-select form-control" id="status">
                        <option value="{{status}}" selected>{{status}}</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    </div>
                    </div>

                    <div class="form-group row">
                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                        <div class="col-sm-5">
                        
                        <div class="custom-control custom-switch">
                        <input *ngIf= "create" type="checkbox" class="custom-control-input" id="create" checked> 
                        <input *ngIf= "!create"type="checkbox" class="custom-control-input" id="create"> 
                        <label class="custom-control-label" for="create">Create</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input *ngIf= "view" type="checkbox" class="custom-control-input" id="view" checked>
                        <input *ngIf= "!view" type="checkbox" class="custom-control-input" id="view"  >  
                        <label class="custom-control-label" for="view">View</label>
                        </div>
                        
                        <div class="custom-control custom-switch">
                        <input *ngIf= "edit" type="checkbox" class="custom-control-input" id="edit" checked>
                        <input *ngIf= "!edit" type="checkbox" class="custom-control-input" id="edit">
                        <label class="custom-control-label" for="edit">Edit</label>
                        </div>
                        <div class="custom-control custom-switch">
                        <input *ngIf= "approve" type="checkbox" class="custom-control-input" id="approve" checked>
                        <input *ngIf= "!approve" type="checkbox" class="custom-control-input" id="approve"  >
                        <label class="custom-control-label" for="approve">Approve</label>
                        </div>
                        
                        </div>
                        </div>
                
        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Canecl</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i class="fas fa-plus-circle"></i> Submit</button>
            </div>
            </div>

    </form>
</div>

<div *ngIf= "!editMode" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Add Role Permission</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                     
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">
                          
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                          
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form [formGroup]="createRolePermissionForm" >
                            
                                    <div class="form-group row mt-2">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
                                        <div class="col-sm-5">
                                        <input type="text" class="form-control" id="template" >
                                        </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                                            <div class="col-sm-5">
                                             <select class="custom-select form-control" id="feature">
                                                <option value="select" selected>Select</option>
                                                <option value="Active">Wallet Owner</option>
                                                <option value="Inactive">Address</option>
                                                <option value="Inactive">Top up</option>
                                            </select>
                                            </div>
                                            </div>
                                            <div class="form-group row mt-2">
                                                <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                                <div class="col-sm-5">
                                                 <select class="custom-select form-control" id="status">
                                                    <option value="select" selected>Select</option>
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                                </div>
                                                </div>
                            
                                                <div class="form-group row">
                                                    <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                                    <div class="col-sm-5">
                                                    
                                                    <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="create">
                                                    <label class="custom-control-label" for="create">Create</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="view"> 
                                                    <label class="custom-control-label" for="view">View</label>
                                                    </div>
                                                    
                                                    <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="edit">
                                                    <label class="custom-control-label" for="edit">Edit</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="approve">
                                                    <label class="custom-control-label" for="approve">Approve</label>
                                                    </div>
                                                    
                                                    </div>
                                                    </div>
                                            
                                 
                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Canecl</button>
                                            <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i class="fas fa-plus-circle"></i> Submit</button>
                                        </div>
                                        </div>
                            
                                </form>


                            </div>
 
         

                            

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf= "editMode" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Add Role Permission</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                     
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">
                          
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                          
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form [formGroup]="createRolePermissionForm" >
                            
                                    <div class="form-group row mt-2">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right">Permission Code</label>
                                        <div class="col-sm-5">
                                        <input type="text" value="{{template}}" class="form-control" id="template" >
                                        </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="feature" class="col-sm-3 col-form-label text-right">Feature</label>
                                            <div class="col-sm-5">
                                             <select class="custom-select form-control" id="feature">
                                                <option value="{{feature}}" selected>{{feature}}</option>
                                                <option value="Active">Wallet Owner</option>
                                                <option value="Inactive">Address</option>
                                                <option value="Inactive">Top up</option>
                                            </select>
                                            </div>
                                            </div>
                                            <div class="form-group row mt-2">
                                                <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                                <div class="col-sm-5">
                                                 <select class="custom-select form-control" id="status">
                                                    <option value="{{status}}" selected>{{status}}</option>
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                                </div>
                                                </div>
                            
                                                <div class="form-group row">
                                                    <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                                    <div class="col-sm-5">
                                                    
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "create" type="checkbox" class="custom-control-input" id="create" checked> 
                                                    <input *ngIf= "!create"type="checkbox" class="custom-control-input" id="create"> 
                                                    <label class="custom-control-label" for="create">Create</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "view" type="checkbox" class="custom-control-input" id="view" checked>
                                                    <input *ngIf= "!view" type="checkbox" class="custom-control-input" id="view"  >  
                                                    <label class="custom-control-label" for="view">View</label>
                                                    </div>
                                                    
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "edit" type="checkbox" class="custom-control-input" id="edit" checked>
                                                    <input *ngIf= "!edit" type="checkbox" class="custom-control-input" id="edit">
                                                    <label class="custom-control-label" for="edit">Edit</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                    <input *ngIf= "approve" type="checkbox" class="custom-control-input" id="approve" checked>
                                                    <input *ngIf= "!approve" type="checkbox" class="custom-control-input" id="approve"  >
                                                    <label class="custom-control-label" for="approve">Approve</label>
                                                    </div>
                                                    
                                                    </div>
                                                    </div>
                                            
                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Canecl</button>
                                            <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i class="fas fa-plus-circle"></i> Submit</button>
                                        </div>
                                        </div>
                            
                                </form>


                            </div>
 
         

                            

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
