<form [formGroup]="addressForm" (ngSubmit)="submitAddress()">
    <div class="form-group row">
        <div class="full-width steps-bottom-button-alligned text-right color-white">
            <a class="custom-hyperlink" (click)="onEditAddressForm()"><i class="fas fa-edit text-primary"></i></a>&nbsp;
            <a class="custom-hyperlink" (click)="onRemoveAddressForm()"><i
                    class="fas fa-trash-alt text-danger"></i></a>&nbsp;
            <a class="custom-hyperlink" (click)="submitAddress()"><i class="fas fa-save text-primary"></i></a>
        </div>
    </div>
    <div class="form-group row">
        <!-- addressLine1 -->
        <div class="col-sm-6">
            <label for="addressLine1" class="custom-label">adress line 1
                <span class="required-field">*</span></label>
            <input type="text" class="form-control" id="addressLine1" name="addressLine1"
                formControlName="addressLine1">
            <!-- validation addressLine1 -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('addressLine1').touched
            && !addressForm.get('addressLine1').valid">Please provide address line 1</span>
        </div>
        <!-- addressLine2 -->
        <div class="col-sm-6">
            <label for="addressLine2" class="custom-label">adress line 2
                <span class="required-field">*</span></label>
            <input type="text" class="form-control" id="addressLine2" name="addressLine2"
                formControlName="addressLine2">
                <!-- validation addressLine2 -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('addressLine2').touched
            && !addressForm.get('addressLine2').valid">Please provide address line 2</span>
        </div>
    </div>
    <div class="form-group row">
        <!-- region -->
        <div class="col-sm-6">
            <label for="region" class="custom-label">region
                <span class="required-field">*</span></label>
            <select class="custom-select" id="region" name="region" formControlName="region">
                <option *ngFor="let rgn of regions" [value]="rgn.code">
                    {{ rgn.name }}
                </option>
            </select>
            <!-- validation region -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('region').touched
            && !addressForm.get('region').valid">Please select region</span>
        </div>
        <!-- territory -->
        <div class="col-sm-6">
            <label for="territory" class="custom-label">territory
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" id="territory" name="territory" formControlName="territory">
                <option *ngFor="let trtry    of territories" [value]="trtry.code">
                    {{ trtry.name }}
                </option>
            </select>
            <!-- validation territory -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('territory').touched
            && !addressForm.get('territory').valid">Please select territory</span>
        </div>
    </div>
    <div class="form-group row">
        <!-- location -->
        <div class="col-sm-6">
            <label for="location" class="custom-label">location
                <span class="required-field">*</span>
            </label>
            <input type="text" class="form-control" id="location" name="location" formControlName="location">
            <!-- validation location -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('location').touched
            && !addressForm.get('location').valid">Please provide location</span>
        </div>
        <!-- addressType -->
        <div class="col-sm-6">
            <label for="addressType" class="custom-label">address type
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" id="addressType" name="addressType" formControlName="addressType">
                <option *ngFor="let adrtyp of addressTypes" [value]="adrtyp.code">
                    {{ adrtyp.name }}
                </option>
            </select>
            <!-- validation addressType -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('addressType').touched
            && !addressForm.get('addressType').valid">Please select address type</span>
        </div>
    </div>
    <div class="form-group row">
        <!-- regional -->
        <div class="col-sm-6">
            <label for="regional" class="custom-label">regional area
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" id="regional" name="regional" formControlName="regional">
                <option *ngFor="let rgnl of regionals" [value]="rgnl.code">
                    {{ rgnl.name }}
                </option>
            </select>
            <!-- <input type="text" class="form-control" id="regional" name="regional" formControlName="regional"> -->
            <!-- validation regional -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('regional').touched
            && !addressForm.get('regional').valid">Please select regional</span>
        </div>
        <!-- governorate -->
        <div class="col-sm-6">
            <label for="governorate" class="custom-label">governorate
                <span class="required-field">*</span>
            </label>
            <select class="custom-select" id="governorate" name="governorate" formControlName="governorate">
                <option *ngFor="let gvrnrt of governorates" [value]="gvrnrt.code">
                    {{ gvrnrt.name }}
                </option>
            </select>
            <!-- validation governorate -->
            <span class="validation-message" *ngIf="addressForm.enabled
            && addressForm.get('governorate').touched
            && !addressForm.get('governorate').valid">Please select governorate</span>
        </div>
    </div>
    <div style="display: none;" id="addressform_{{formIndex}}"><button type="submit"></button></div>
</form>
<hr>