    <!-- <div class="limiter">
        <div class="container-login100" style="background-image: url('./assets/images/bg-01.jpg');">
          <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup] = "changePasswordFormGroup" (ngSubmit) = "onSubmit()">
              <span class="login100-form-title p-b-34 p-t-27" translate>brcr_resetpassword</span>
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              
              <div class="wrap-input100 form-group">
                <input class="input100" type="password" placeholder="{{'lbl_resetpassword_currentpassword' | translate}}" formControlName = "password" id="old_password" maxlength="25"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <span class="focus-input100" data-placeholder="&#xf191;"></span> 
              </div>

              <div *ngIf="submitted && f.password.errors" class = "errormsgstyle">
                    <div *ngIf="f.password.errors.required" translate>ERROR_OLD_PASSWORD</div>
                    <div *ngIf="f.password.errors.pattern" translate>ERROR_CORRECT_PASSWORD</div>
              </div>
      
              <div class="wrap-input100 form-group">
                <input class="input100" type="password" placeholder="{{'lbl_resetpassword_newpassword' | translate}}" formControlName = "newPassword" id = "new_password" maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                
              </div>
              <div *ngIf="submitted && f.newPassword.errors" class = "errormsgstyle">
                    <div *ngIf="f.newPassword.errors.required" translate>ERROR_NEW_PASSWORD</div>
                    <div *ngIf="f.newPassword.errors.pattern" translate>ERROR_CORRECT_PASSWORD</div>                          
                </div>

              <div class="wrap-input100 form-group">
                    <input class="input100" type="password" placeholder="{{ 'lbl_resetpassword_confirmnewpassword' | translate}}" formControlName = "confirmPassword" id = "confirm_password" maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
              </div>

              <div *ngIf="submitted && f.confirmPassword.errors" class = "errormsgstyle">
                    <div *ngIf="f.confirmPassword.errors.required" translate>ERROR_CONFIRM_PASSWORD</div>   
              </div>

            <div *ngIf="changePasswordFormGroup.errors?.doesMatchPassword" class = "errormsgstyle" translate>ERROR_MATCH_PASSWORD</div>

            <div class = "text-center">
                    <div class="tooltip1">
                            <i class="fa fa-info-circle" style="font-size:30px;"></i>
                               <span class="tooltiptext" translate>LABEL_TOOLTIP_MESSAGE</span>
                    </div>
            </div>

            <div class="container-login100-form-btn p-t-30 form-group">
              <button type="button" class="login100-form-btn"  (click)="onSubmit()" translate>
                BUTTON_SUBMIT
              </button>
            </div>

            </form>
          </div>
        </div>
      </div>
 -->
<div class="bg-gradient-primary login-align-center">
  <div class="container">

    <!-- Outer Row -->
    <div class="row">

      <div class="col-xl-10 col-lg-12 col-md-9 mx-auto">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
				  <img class="mb-4 img-fluid" src="assets/images/logo.png" alt="logo">
                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                    <p class="mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <a href="login.html" class="btn btn-primary btn-user btn-block">
                      Reset Password
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="login.html">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>