 
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User</h1>
    <a [routerLink]="['add']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus-circle"></i> Add New User</a>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">User</li>
    </ol>
</nav>

<!-- Content Row -->
<div class="row">
    <!-- main area -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Role Permission</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <!-- <th>Id</th> -->
                                <th>Code</th> 
                                <th>Wallet Owner Group Code</th>
                                <th>Role Group Code</th>
                                <th>User Name</th>
                                <th>Alias Name</th>
                                <th>National Id</th>
                                <th>Mobile Number</th>
                                <th>Hr Id</th>
                                <th>Bob Title</th>
                                <th>Department Name</th>
                                <th>State</th>
                                <th>Created Date</th>
                                <th>Created By </th>
                                <th>Staus</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            
                            <tr *ngFor="let user of users; let i = index;">
                                <!-- <td>{{ user.id }}</td> -->
                                <td>{{ user.code }}</td>
                                <td>{{ user.walletownergroup_code }}</td>
                                <td>{{ user.rolegroup_code }}</td>
                                <td>{{ user.user_name }}</td>
                                <td>{{ user.alias_name }}</td>
                                <td>{{ user.national_id }}</td>
                                <td>{{ user.mobile_number }}</td>
                                <td>{{ user.hr_id }}</td>
                                <td>{{ user.bob_title }}</td>
                                <td>{{ user.department_name }}</td>
                                <td>{{ user.state }}</td>
                                <td>{{ user.creation_date | date: 'short'}}</td>
                                <td>{{ user.created_by }}</td>
                                <td>{{ user.status }}</td>
                              
                                <td>
                                    <a (click)="viewUser(user.id)"><i class="fas fa-eye text-primary"></i></a>&nbsp;
                                    <a (click)="editUser(user.id)"><i class="fas fa-edit text-secondary"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>