<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User</h1>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a (click)="navigateToSytemUserCreation()">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
</nav>
<div  class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Add System User</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">
                          
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            
                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form  >
                                    <div class="form-group row mt-2">
                                        <label for="code" class="col-sm-3 col-form-label text-right">Code</label>
                                        <div class="col-sm-5">
                                            <input value= "{{code}}" type="text" class="form-control" id="code" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="walletownergroup_code" class="col-sm-3 col-form-label text-right">Wallet Owner Group Code
                                            </label>
                                        <div class="col-sm-5">
                                             
                                            <input value= "{{walletownergroup_code}}" type="text" class="form-control" id="walletownergroup_code" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="rolegroup_code" class="col-sm-3 col-form-label text-right">Role Group Code
                                            </label>
                                        <div class="col-sm-5">
                                            <input value= "{{rolegroup_code}}" type="text" class="form-control" id="rolegroup_code" disabled>
 
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="user_name" class="col-sm-3 col-form-label text-right">User Name</label>
                                        <div class="col-sm-5">
                                            <input value="{{user_name}}" type="text" class="form-control" id="user_name" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="alias_name" class="col-sm-3 col-form-label text-right">Alias Name</label>
                                        <div class="col-sm-5">
                                            <input value="{{alias_name}}" type="text" class="form-control" id="alias_name" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="national_id" class="col-sm-3 col-form-label text-right">National Id</label>
                                        <div class="col-sm-5">
                                            <input value="{{national_id}}"  type="text" class="form-control" id="national_id" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="mobile_number" class="col-sm-3 col-form-label text-right">Mobile Number</label>
                                        <div class="col-sm-5">
                                            <input  value="{{mobile_number}}" type="text" class="form-control" id="mobile_number" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="hr_id" class="col-sm-3 col-form-label text-right">Hr Id</label>
                                        <div class="col-sm-5">
                                            <input value="{{hr_id}}" type="text" class="form-control" id="hr_id" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="bob_title" class="col-sm-3 col-form-label text-right">Bob Title</label>
                                        <div class="col-sm-5">
                                            <input value="{{bob_title}}" type="text" class="form-control" id="bob_title" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="department_name" class="col-sm-3 col-form-label text-right">Department Name</label>
                                        <div class="col-sm-5">
                                            <input value="{{department_name}}" type="text" class="form-control" id="department_name" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="state" class="col-sm-3 col-form-label text-right">State</label>
                                        <div class="col-sm-5">
                                            <input value="{{state}}" type="text" class="form-control" id="state" disabled>
                                        </div>
                                    </div>
                                  
                                    
                                    <div class="form-group row mt-2">
                                        <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                        <div class="col-sm-5">
                                           <input type = "text" value="{{status}}" class="form-control" id = "status" disabled>
                                        </div>
                                    </div>

                            
                                      
                                            
                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i class="fas fa-times-circle"></i> Back</button>
                                         </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
