/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 32px !important;
    font-size: 14px !important;
  }
  
  select::-ms-expand {
    display: none;
  }

  .entries{
    font-size:14px;
}

  .row-height{
  line-height: 25px
}

.datatable-setting{
  white-space: nowrap;
}
.calendar-icon{
  background: url(assets/images/icon/calendar_icon.svg) 0 0; 
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
}

.key-text-area{
  height: 150px !important;
  width: 100% !important;
}
.leftAlign{
  float: left;
}
.cursor-hand{
  cursor: pointer;
}
.link{
  text-decoration: underline;
  cursor: pointer;
}
.disable-link{
  pointer-events: none;
  color: lightgrey !important;
}

.style-file-input{
  margin-left: 15px;
}

.div-style{
  text-align: center;
}

.checkbox-style-approve{
  margin-left: 23px;
}

.checkbox-style-reject{
  margin-left: 17px;
}

.ti-trash-icon{
  font-size: 20px;
}
body .ui-multiselect{
  width : 75%;
}
body .ui-datepicker:not(.ui-datepicker-inline){
  top:35px !important;
}
.ui-multiselect .ui-multiselect-label-container{
  height: 37px;
}

.dataTables_scrollHeadInner{
  width : 100% !important
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable{
  width : 100% !important
}

.table-info{
  background-color:white !important;
  }
  .table-info > th{
  background-color:white !important;
  }
  .table-info{
  background-color:white !important;
  }


