<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Role Group</h1>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a class="collapse-item" (click)="navigateToSytemUserCreation()">Role Group</a></li>
        <li *ngIf="!editMode" class="breadcrumb-item active" aria-current="page">Add</li>
        <li *ngIf="editMode"class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div *ngIf="false" class="col-xs-12">
    <form [formGroup]="createRoleGroupForm" (ngSubmit)="onSubmit()">
        <!-- <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="id">Id</label>
            </div>
            <div class="col-sm-8">
                <input id="id" formControlName="id" type="text" class="form-control" disabled>
            </div>
        </div> -->
        <div class="form-group row mt-2">
            <label for="code" class="col-sm-3 col-form-label text-right">Role Code</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="code">
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="roleGrpParentCode" class="col-sm-3 col-form-label text-right">Role Group Parent Code</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" id="roleGrpParentCode">
                    <option value="select" selected>Select</option>
                    <option value="RP0001">RP0001</option>
                    <option value="RP0002">RP0002</option>
                    <option value="RP0003">RP0003</option>
                    <option value="RP0004">RP0004</option>
                    <option value="RP0005">RP0005</option>
                </select>
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="permissionCode" class="col-sm-3 col-form-label text-right">Permission Code</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" id="permissionCode">
                    <option value="select" selected>Select</option>
                    <option value="PC0001">PC0001</option>
                    <option value="PC0002">PC0002</option>
                    <option value="PC0003">PC0003</option>
                    <option value="PC0004">PC0004</option>
                    <option value="PC0005">PC0005</option>
                </select>
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="createdOn" class="col-sm-3 col-form-label text-right">Created On</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="createdOn">
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="createdBy" class="col-sm-3 col-form-label text-right">Created By</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="createdBy">
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" id="status">
                    <option value="select" selected>Select</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>


        <!-- <div class="row">
            <div class="col-sm-4">
                <label for="name">Name</label>
            </div>
            <div class="col-sm-8">
                <input id="name" formControlName="name" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="status">Status</label>
            </div>
            <div class="col-sm-8">
                <input id="status" formControlName="status" type="text" class="form-control">
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <label for="feild1">Field1</label>
            </div>
            <div class="col-sm-8">
                <input id="feild1" formControlName="feild1" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="feild2">Feild2</label>
            </div>
            <div class="col-sm-8">
                <input id="feild1" formControlName="feild2" type="text" class="form-control">
            </div>
        </div>

        <div *ngIf="editMode" class="row">
            <div class="col-sm-4">
                <label for="creationDate">Created On</label>
            </div>
            <div class="col-sm-8">
                <input id="creationDate" formControlName="createdOn" type="datetime" class="form-control" disabled>
            </div>
        </div> -->

        <!-- <div *ngIf="!editMode" class="row">
            <div class="col-sm-4">
                <button class="btn btn-primary">Add</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-primary" type="button" (click)="onCancel()">Cancel</button>
            </div>
        </div>  -->
        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i
                        class="fas fa-times-circle"></i> Canecl</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i
                        class="fas fa-plus-circle"></i> Submit</button>
            </div>
        </div>

    </form>
</div>


<div *ngIf="false" class="col-xs-12">
    <form [formGroup]="createRoleGroupForm" (ngSubmit)="onSubmit()">
        <div class="form-group row mt-5">
            <label for="code" class="col-sm-3 col-form-label text-right">Role Code</label>
            <div class="col-sm-5">
                <input value="{{code}}" type="text" class="form-control" id="code">
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
            <div class="col-sm-5">
                <input value="{{name}}" type="text" class="form-control" id="name">
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="roleGrpParentCode" class="col-sm-3 col-form-label text-right">Role Group Parent Code</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" id="roleGrpParentCode">
                    <option value="{{roleGrpParentCode}}" selected>{{roleGrpParentCode}}</option>
                    <option value="RP0001">RP0001</option>
                    <option value="RP0002">RP0002</option>
                    <option value="RP0003">RP0003</option>
                    <option value="RP0004">RP0004</option>
                    <option value="RP0005">RP0005</option>
                </select>
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="permissionCode" class="col-sm-3 col-form-label text-right">Permission Code</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" id="permissionCode">
                    <option value="{{permissionCode}}" selected>{{permissionCode}}</option>
                    <option value="PC0001">PC0001</option>
                    <option value="PC0002">PC0002</option>
                    <option value="PC0003">PC0003</option>
                    <option value="PC0004">PC0004</option>
                    <option value="PC0005">PC0005</option>
                </select>
            </div>
        </div>
        <!-- <div class="form-group row mt-5">
                        <label for="createdOn" class="col-sm-3 col-form-label text-right">Created On</label>
                        <div class="col-sm-5">
                        <input value="{{createdOn}}"  type="text" class="form-control" id="createdOn" >
                        </div>
                        </div>
                        <div class="form-group row mt-5">
                            <label for="createdBy" class="col-sm-3 col-form-label text-right">Created By</label>
                            <div class="col-sm-5">
                            <input value="{{createdBy}}"  type="text" class="form-control" id="createdBy" >
                            </div>
                            </div> -->


        <div class="form-group row mt-2">
            <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" id="status">
                    <option value="{{status}}" selected>{{status}}</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9 text-right">
                <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i
                        class="fas fa-times-circle"></i> Canecl</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i
                        class="fas fa-plus-circle"></i> Submit</button>
            </div>
        </div>

    </form>
</div>

<div *ngIf="!editMode" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Add System User</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">

                        </ul>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form [formGroup]="createRoleGroupForm">

                                    <div class="form-group row mt-2">
                                        <label for="code" class="col-sm-3 col-form-label text-right">Role Code</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="code">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="roleGrpParentCode" class="col-sm-3 col-form-label text-right">Role
                                            Group Parent Code</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="roleGrpParentCode">
                                                <option value="select" selected>Select</option>
                                                <option value="RP0001">RP0001</option>
                                                <option value="RP0002">RP0002</option>
                                                <option value="RP0003">RP0003</option>
                                                <option value="RP0004">RP0004</option>
                                                <option value="RP0005">RP0005</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="permissionCode"
                                            class="col-sm-3 col-form-label text-right">Permission Code</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="permissionCode">
                                                <option value="select" selected>Select</option>
                                                <option value="PC0001">PC0001</option>
                                                <option value="PC0002">PC0002</option>
                                                <option value="PC0003">PC0003</option>
                                                <option value="PC0004">PC0004</option>
                                                <option value="PC0005">PC0005</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row mt-2">
                                        <label for="createdOn" class="col-sm-3 col-form-label text-right">Created
                                            On</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="createdOn">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="createdBy" class="col-sm-3 col-form-label text-right">Created
                                            By</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="createdBy">
                                        </div>
                                    </div> -->
                                    <div class="form-group row mt-2">
                                        <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="status">
                                                <option value="select" selected>Select</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i
                                                    class="fas fa-times-circle"></i> Canecl</button>
                                            <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i
                                                    class="fas fa-plus-circle"></i> Submit</button>
                                        </div>
                                    </div>

                                </form>


                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="editMode" class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Add System User</h6> -->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- steps/navigation -->
                        <ul class="nav  mb-3" id="pills-tab" role="tablist">

                        </ul>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- STEP-1 Content : Basic Information -->
                            <div class="tab-pane fade show active" id="step-1" role="tabpanel"
                                aria-labelledby="step-1-tab">
                                <form [formGroup]="createRoleGroupForm">

                                    <div class="form-group row mt-5">
                                        <label for="code" class="col-sm-3 col-form-label text-right">Role Code</label>
                                        <div class="col-sm-5">
                                            <input value="{{code}}" type="text" class="form-control" id="code">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
                                        <div class="col-sm-5">
                                            <input value="{{name}}" type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="roleGrpParentCode" class="col-sm-3 col-form-label text-right">Role
                                            Group Parent Code</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="roleGrpParentCode">
                                                <option value="{{roleGrpParentCode}}" selected>{{roleGrpParentCode}}
                                                </option>
                                                <option value="RP0001">RP0001</option>
                                                <option value="RP0002">RP0002</option>
                                                <option value="RP0003">RP0003</option>
                                                <option value="RP0004">RP0004</option>
                                                <option value="RP0005">RP0005</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label for="permissionCode"
                                            class="col-sm-3 col-form-label text-right">Permission Code</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="permissionCode">
                                                <option value="{{permissionCode}}" selected>{{permissionCode}}</option>
                                                <option value="PC0001">PC0001</option>
                                                <option value="PC0002">PC0002</option>
                                                <option value="PC0003">PC0003</option>
                                                <option value="PC0004">PC0004</option>
                                                <option value="PC0005">PC0005</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row mt-5">
                                                    <label for="createdOn" class="col-sm-3 col-form-label text-right">Created On</label>
                                                    <div class="col-sm-5">
                                                    <input value="{{createdOn}}"  type="text" class="form-control" id="createdOn" >
                                                    </div>
                                                    </div>
                                                    <div class="form-group row mt-5">
                                                        <label for="createdBy" class="col-sm-3 col-form-label text-right">Created By</label>
                                                        <div class="col-sm-5">
                                                        <input value="{{createdBy}}"  type="text" class="form-control" id="createdBy" >
                                                        </div>
                                                        </div> -->


                                    <div class="form-group row mt-2">
                                        <label for="status" class="col-sm-3 col-form-label text-right">Staus</label>
                                        <div class="col-sm-5">
                                            <select class="custom-select form-control" id="status">
                                                <option value="{{status}}" selected>{{status}}</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="usrname" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9 text-right">
                                            <button type="button" (click)="onCancel()" class="btn btn-danger px-3"><i
                                                    class="fas fa-times-circle"></i> Canecl</button>
                                            <button type="button" (click)="onSubmit()" class="btn btn-primary px-3"><i
                                                    class="fas fa-plus-circle"></i> Submit</button>
                                        </div>
                                    </div>


                                </form>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>